body{
    background-image: url("./Main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
/* .header{
    display: flex;
    justify-content: center;
    position: relative;
} */
#heading{
    font-size: 120px;
    position: relative;
    left: 60px;
    top: 190px;
}
#caption{
    font-size: 30px;
    position: relative;
    top: 330px;
    right: 70px;
}
#btn{
    width: 200px;
    height: 60px;
    position: relative;
    top: 260px;
    left: 580px;
}
/* body{
    background-image: url("Main-bg.png");
    background-repeat:no-repeat;
    background-size:1450px 800px;
    position: relative;
} */
.header{
    position: relative;
    display: flex;
    justify-content: left;
    bottom: 200px;
    color: antiquewhite;
}
.container{
    display: flex;
    width: 900px;
    position: relative;
    left: 500px;
    justify-content: center;
}
.card-img-top1,.card-img-top2,.card-img-top3{
    width: 550px;
    height: auto;
    position: relative;
    right: 50px;
}
.card1,.card2,.card3,.card4{
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px;
}
.card-title1,.card-title2,.card-title3,.card-title4,.card-title5{
    font-size: 40px;
    position: relative;
    bottom: 60px;
    color:white;
}
.prev{
    font-size: 50px;
    position: relative;
    bottom: 650px;
    right: 80px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
.next{
    font-size: 50px;
    position: relative;
    bottom: 650px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    left: 500px;
}
.card-text1,.card-text2,.card-text3,.card-text4,.card-text5{
    font-size: 28px;
    position: relative;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom: 120px;
}
.btn{
    position: relative;
    bottom: 120px;
    font-size: 25px;
    text-decoration: none ;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}
.card-title1{
    color: black;
}
.card-title3{
    color: black;
}
.card-title2{
    color: black;
}