body {
  margin-top: 0px;
  margin-left: 0px;
  box-sizing: border-box;
}
.head {
  height: 150px;
  background-color: #9e8a68;
  border-bottom: 2px solid #676563;
  box-shadow: 6px 5px #b7b5b39e;
}
span {
  font-size: 40px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  top: 40px;
  left: 40px;
}
.btn {
  display: flex;
  justify-content: end;
}
#btn1,
#btn2 {
  width: 100px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
  right: 30px;
}
#btn1:hover {
  background-color: #141301;
  color: white;
  transition: 0.4s;
}
#btn2:hover {
  background-color: #141301;
  color: white;
  transition: 0.4s;
}

/* IMAGE SLIDER */

.slide-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    height: 400px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide:first-child {
    opacity: 1;
}